{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.image_url}}">
            <h4 style="display: inline-block;float: right">{{product.price|floatformat:2}} SEK/kg</h4>
<!--            Tutaj jak wrzuce linijke z cena to bedzie dobrze pasilo,
                zeby cena nie byla kolo przyciskow-->

            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Lägg till</button>

                <a class="btn btn-outline-success" href="#">Visa mer</a>
<!--                <input type="number" value="100" name="" id="product-quantity" class="w-25 mb-20">-->


            </div>
        </div>

        {% endfor %}

    </div>
{% endblock content %}
